.item {
    display: flex;
    align-items: center;
    border: 1px solid black;
    /* border-radius: 50px; */
    padding: 2px;
    margin: 5px 0;
}

.item img {
    width: 50px;
    margin-right: 2px;
}

p {
    margin: 0;
    padding: 0;
}