body {
  margin: 0 auto;
  padding: 0;
  background-color: rgba(207, 207, 207, 0.521);
  box-sizing: border-box;
}

.app-wrapper {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    "h h"
    "n c";


}


.content__wrapper {
  grid-area: c;
  padding: 0 5px;
  /* margin-left: 5px; */
  margin: 5px;
}