body {
  margin: 0 auto;
  padding: 0;

  box-sizing: border-box;
}

.app-wrapper {
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    "h h"
    "n c";
}
 
